.about-me{
    width:35%;
    position: sticky;
    margin: 0 auto;    
    padding: 10px 20px;
    border-radius: 15px;
}

.accordion-item{
    font-family: var(--font-two);
    text-align: center;
    color:lavenderblush;
    background: var(--purple);
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.img-thumbnail{
    position: relative;
}

.display-2 h1{
    font-family: var(--font-one);
}

/*
About Switch Saves:



*/