.about-me{
    width:35%;
    position: sticky;
    margin: 0 auto;    
    padding: 10px 20px;
    border-radius: 15px;
}

.accordion-item{
    font-family: var(--font-two);
    text-align: center;
    color:lavenderblush;
    background: var(--purple);
    margin: 0 auto;
    padding: 10px 10px 20px 20px;
    border-radius: 5px;
    
    
}

.container#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0px;
    margin-top: 0px;
}
.img-thumbnail{
    position: relative;
}

#about-meTitle {
    font-family: "Lucida Console", Monaco, monospace;
}

/*
About Switch Saves:



*/