*{
    margin: 0;
    padding: 0;
}
    body{
   /* background: url("../assets/portfolioPhoto1.jpg");*/
    /*background-size: cover;*/
    height: 100%;
    font-family: var(--font-two);
    font-size: 17px;
    color: #ab46d3;
    line-height: 1.6;
}





