.container-fluid#nav-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*  .navbar-brand{
    font-family: var(--font-one);
    font: size 175px;
    background: var(--pearl);
    border: inset 5px var(--purple);
    font-style: var(--font-two);
}

.nav-link{
    font-family: var(--font-three);
}

.navbar-nav{
    font: size 175px;
    background: var(--purple);
    border: inset 5px var(--purple);
    font-style: var(--font-two);
    
}*/
nav a:hover {
    color:var(--dark-purple)
}

