.navbar-brand{
    
    font: size 175px;
    background: var(--pearl);
    border: inset 5px var(--purple);
    font-style: var(--font-two);
}

.nav-link{
    font-family: var(--font-three);
}

.navbar-nav{
    font: size 175px;
    background: var(--pearl);
    border: inset 5px var(--purple);
    font-style: var(--font-two);
    
}

