/*We can use CSS Variables that allow us to declare custom properties, that we can then call
in our other CSS files. Once we figure out a color scheme(or any other preset properties we'd 
like to use), we can use custom properties to create CSS variables. This aves us time later when
we want to access a certain color or specific property. */

:root {
   
    --lavender: rgb(182,121,182);
    --purple: rgb(155,82,161);
    --pearl: rgba(255, 255, 255, 0.973);
    --pearl-purple: rgba(209, 42, 209, 0.87);
    --dark-purple: rgb(110,37,126);

    --font-one: 'Caveat', cursive;
    --font-two: 'Oswald', sans-serif;
    --font-three: 'WindSong', cursive;
};



